@import "tailwindcss";

body {
    font-family: 'Times New Roman', Times, serif;
}

#home{
    background-image: url(/img/hero.jpeg);
    background-size: cover;
}

#review-1{
    background-image: url(/img/vecteezy_ai-generative-photo-business-concept-portrait-of-excited-man_29334763.jpg);
    background-size: cover;
    /* background-position: center; */
}

#room{
    background-image: url(/img/room.jpeg);
    background-size: cover;
}