@import "tailwindcss";

body {
    font-family: 'Times New Roman', Times, serif;
}

#home{
    background-image: url(/img/hero.jpeg);
    background-size: cover;
}

#review-1{
    background-image: url(/img/reviwer.jpg);
    background-size: cover;
    /* background-position: center; */
}

#room{
    background-image: url(/img/room.jpeg);
    background-size: cover;
}

#gallery{
    background-image: url(/img/gallery.jpg);
    background-size: cover;
}